<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Mantenimiento Producto</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <img src="images/logotienda.png" width="130" height="80" th:href="@{/indexs}">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active"><a th:href="@{/menu}" class="nav-link">Administrador </a></li>


                <li class="nav-item"><a th:href="@{/login}" class="nav-link">Salir</a></li>

            </ul>
        </div>
    </div>
</nav>
<div id="main-div2" >
    <br>
    <br>
    <button class="btn btn-warning text-white"><a th:href="@{/producto/add}">Crear Producto</a></button><br>
    <br>
    <br>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Image URL</th>
                    <th scope="col">Image</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="producto: ${listaProducto}">
                    <th scope="row" th:text="${producto.producto_id}"></th>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.stock}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.imageName}"></td>
                    <td th:text="${producto.productImageURL}"></td>
                    <td ><img src="https://tiendita-de-don-pepe-bucket.s3.us-west-2.amazonaws.com/020720-111509-5-TEST.png"/></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a class="btn btn-danger btn-sm" th:href="@{/producto/edit/{id} (id=${producto.producto_id}) }">Editar</a>
                            <a class="btn btn-danger btn-sm" th:href="@{/producto/delete/{id} (id=${producto.producto_id}) }">Borrar</a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <table class="table table-dark">

        <thead>
        <tr style="text-align: center;">

        </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>
</body>
</html>