<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Tarjeta</title>
	  <div th:replace = "page/fragments/pageHeader :: pageHeader" ></div>
  </head>
  <div th:replace = "page/fragments/topnav :: navbar" ></div>
  <!-- END nav -->

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate" >
    				<div class="cart-list">
<!--	    				<table class="table">-->
<!--						    <thead class="thead-primary">-->
<!--						      <tr class="text-center">-->
<!--						        <th>Option</th>-->
<!--						        <th>Image</th>-->
<!--						        <th>Product name</th>-->
<!--						        <th>Price</th>-->
<!--						        <th>Quantity</th>-->
<!--						        <th>Total</th>-->
<!--						      </tr>-->
<!--						    </thead>-->
<!--						    <tbody >-->
<!--						      <tr class="text-center" th:each="producto: ${productList}">-->
<!--						        <td class="product-remove"><a href="#">Delete</a></td>-->
<!--						        -->
<!--						        <td class="image-prod">-->
<!--&lt;!&ndash;									<div class="img" th:style="'background-image:url(/images/product3.png);'"></div>&ndash;&gt;-->
<!--								  <img th:src="${producto.productImageURL}" width="110" height="80" />-->
<!--								</td>-->
<!--						        -->
<!--						        <td class="product-name">-->
<!--						        	<h3 th:text="${producto.nombre}"></h3>-->
<!--						        </td>-->
<!--						        -->
<!--						        <td class="price" th:text="${producto.precio}"></td>-->
<!--						        -->
<!--						        <td class="quantity">-->
<!--						        	<div class="input-group mb-3">-->
<!--					             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">-->
<!--					          	</div>-->
<!--					          </td>-->
<!--						        -->
<!--						        <td class="total" th:text="${producto.precio}"></td>-->
<!--						      </tr>&lt;!&ndash; END TR&ndash;&gt;-->
<!--						    </tbody>-->
<!--						  </table>-->
						<table class="table">
							<thead class="thead-primary">
							<tr class="text-center">
								<th>Option</th>
								<th>Image</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Total</th>
							</tr>
							</thead>
							<tbody >
							<tr class="text-center" th:each="carritoProducto: ${session.cart}">
								<td class="product-remove"><a th:href="${'/carritoProducto/producto/delete/' + carritoProducto.producto.producto_id}">Delete</a></td>

								<td class="image-prod">
									<!--									<div class="img" th:style="'background-image:url(/images/product3.png);'"></div>-->
									<img th:src="${carritoProducto.producto.productImageURL}" width="110" height="80" />
								</td>

								<td class="product-name">
									<h3 th:text="${carritoProducto.producto.nombre}"></h3>
								</td>

								<td class="price" th:text="${carritoProducto.producto.precio}"></td>


								<td class="quantity">
									<div class="input-group mb-3">
										<input type="number" name="quantity" th:value="${carritoProducto.cantidad}" class="quantity form-control input-number"  >
									</div>
								</td>

								<td class="total" th:text="${carritoProducto.producto.precio * carritoProducto.cantidad}"></td>
							</tr><!-- END TR-->
							</tbody>
						</table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Coupon Code</h3>
    					<p>Enter your coupon code if you have one</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Coupon code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Estimate shipping and tax</h3>
    					<p>Enter your destination to get a shipping estimate</p>
  						<form action="#" class="info">
	              <div class="form-group">
	              	<label for="">Country</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">State/Province</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	              <div class="form-group">
	              	<label for="country">Zip/Postal Code</label>
	                <input type="text" class="form-control text-left px-3" placeholder="">
	              </div>
	            </form>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
    			</div>
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span th:text="${subtotal}"></span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$3.00</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
    						<span th:text="${total}"></span>
    					</p>
    				</div>
    				<p><a th:href="@{/cart/ordenCompra/save}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Vegefoods</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <div th:replace="page/fragments/footerScripts :: footerScripts"></div>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    
  </body>
</html>