<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina Principal</title>
    <div th:replace = "page/fragments/pageHeader :: pageHeader" ></div>
</head>
<body class="goto-here">

<div th:replace = "page/fragments/topnav :: navbar" ></div>
<!-- END nav -->

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" th:style="'background-image: url(/images/fondo.jpg);'">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <p><a href="#" class="btn btn-primary">Comprar Ahora</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" th:style="'background-image: url(/images/fondo2.jpg);'">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                    </div>

                </div>
            </div>
        </div>
        <div class="slider-item" th:style="'background-image: url(/images/fondo3.jpg);'">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Envio Gratis</h3>
                        <span>En pedidos superiores a $ 100</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Siempre Fresco</h3>
                        <span>Producto bien Empaquetado</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Calidad Superior</h3>
                        <span>Producto de Calidad</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Apoyo</h3>
                        <span>Soporte 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr style="color: #0056b2;"/>
<div class="container">
    <div class="row justify-content-center mb-3 pb-3">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Categorias Principales</h2>
        </div>



        <section class="ftco-section ftco-category ftco-no-pt">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(/images/cuidadopersonal.png) ;'">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Fruits</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(/images/limpieza.png);'">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Juices</a></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 order-md-last align-items-stretch d-flex">
                                <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" th:style="'background-image: url(/images/category.jpg);'">
                                    <div class="text text-center">
                                        <h2>Vegetales</h2>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(/images/index3.png);'">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a href="#">Fruits</a></h2>
                                    </div>
                                </div>
                                <div class="category-wrap ftco-animate img d-flex align-items-end" th:style="'background-image: url(/images/index.png);'">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a href="#">Vegetables</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(/images/index1.png);'">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Juices</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end" th:style="'background-image: url(/images/index2.png);'">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Dried</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-12 col-xl-6">
                                <h3>Sobre Nosotros</h3>
                                <hr>
                                <p>"Marcas icónicas en las que puede confiar como Head&amp;Shoulders, Ayudin, Always, Oral B, Gillete, Pampers, Ariel, Old Spice, Ace, Downy y más. Los productos de P&amp;G se han hecho un nombre combinando "lo que se necesita" con "lo que es posible", haciendo que salas, dormitorios, cocinas, cunas y baños sean un poco más agradables durante más de 181 años."</p>
                            </div>
                            <div class="col-lg-6 col-12 col-xl-6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/hQSf4O797Qc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <hr>
            <hr>
            <hr>
            <hr>
            <hr>
            <hr>



            <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
                <div class="container py-4">
                    <div class="row d-flex justify-content-center py-5">
                        <div class="col-md-6">
                            <h2 style="font-size: 22px;" class="mb-0">Suscríbete a nuestro boletín</h2>
                            <span>Recibe actualizaciones por correo electrónico sobre nuestras últimas tiendas y ofertas especiales</span>
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                        <div class="mouse">
                            <a href="#" class="mouse-icon">
                                <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

<div th:replace="page/fragments/footerScripts :: footerScripts"></div>


</body>
</html>